<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="sourceRetriever" type="CroweCurrencyConversion.Configuration.SourceRetrieverSection,CroweCurrencyConversion.Configuration" />
  </configSections>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>

  <sourceRetriever>
    <sources>
      <add name="yahoo" url="http://finance.yahoo.com/d/quotes.csv" enabled="true" secure="false"/>
      <add name="xe" url="" enabled="false" />
      <add name="oanda" url="" enabled="false" />
      <add name="secureapi" url="" enabled="true" secure="true" loginUrl="" />
    </sources>
  </sourceRetriever>
</configuration>
